<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header nav navbar-nav navbar-left">
            <h3>Welcome, Super Admin</h3>
        </div>

    </div>
</nav>
    
<div>
    <h4 class="sah4">Add User</h4>
</div>

<div class="col-sm-2 col-lg-4"></div>
<div class="col-sm-8 col-lg-4">
<form name="addUserForm" ng-submit="addUserCtrl.addUser()">
    <div class="form-group">
        <input class="form-control" id="email" name="email" type="email" placeholder="Email" required ng-model="addUserCtrl.user.email"/>
    </div>

    <div class="form-group">
        <input type="password" data-minlength="4" class="form-control" id="inputPassword" placeholder="Password must be at least 4 characters long" required ng-model="addUserCtrl.user.password">
    </div>

    <div class="form-group">
        <input type="password" data-minlength="4" class="form-control" id="confirmPassword" placeholder="Please confirm your password" required ng-model="addUserCtrl.user.confirmpassword">
    </div>

    <div class="form-group">
        <div>
            <input class="form-control" id="name" name="firstname" type="text" placeholder="First Name" required ng-model="addUserCtrl.user.firstname"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input class="form-control" id="name" name="lastname" type="text" placeholder="Last Name" required ng-model="addUserCtrl.user.lastname"/>
        </div>
    </div>

    <div class="form-group">
        <select class="form-control" id="role" required ng-model="addUserCtrl.user.role" ng-init="addUserCtrl.user.role = null">
                    <option ng-value="null" hidden>Role</option>
                    <option ng-value="1">Trainer</option>
                    <option ng-value="2">Client</option>
                    <option ng-value="0">Admin</option>
            </select>
    </div>

    <div class="form-group">
        <select class="form-control" id="status" required ng-model="addUserCtrl.user.status" ng-init="addUserCtrl.user.status = null">
                        <option ng-value="null" hidden>Status</option>
                        <option ng-value="Active">Active</option>
                        <option ng-value="Unavailable">Unavailable</option>
                        <option ng-value="Inactive">Inactive</option>
                </select>
    </div>


    <div>
        <button type="submit" class="btn btn-block btn-success add-new">Add User</button>
        <button type="button" class="btn btn-block btn-danger" ui-sref="list">Cancel</button>
        <button type="button" class="btn btn-block btn-info" ng-show="addUserCtrl.message" ng-click="addUserCtrl.addAnother()">Add Another</button>
        
    </div>
</form>
<div ng-show="addUserCtrl.message">{{ addUserCtrl.message }}</div>

</div>