<div class="main background-tint">
    <div class="col-sm-2 col-lg-4"></div>
    <div class="col-sm-8 col-lg-4">
        <h1 class="brand-light">Please Log In or Register for an Account</h1>
        <hr class="style13">
        <div class="row">
            <button type="button" class="btn btn-success sign-in pull-left ctreglogbtn" ui-sref="login">Log In</button>
        </div>                    
        <div class="register row">
            <div class="row">
                <h1 class="acct">Create an account</h1>
            </div>
            <hr class="style14">
            <button ui-sref="clientreg" class="btn btn-success sign-in pull-left clientbtn">Sign Up as Client</button>
            <button ui-sref="trainerreg" class="btn btn-warning sign-in pull-right trainerbtn">Sign Up as Trainer</button>
        </div>
        <!-- <div class="row">
            <div class="forgot">
                <p>Forgot Password</p>
            </div>
            <div class="accsign"
                <p>No account? Sign Up!</p>
            </div>
        </div> -->
    </div>
</div>