<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header nav navbar-nav navbar-left">
            <h3>Welcome, {{clientDashCtrl.user.firstname}} {{clientDashCtrl.user.lastname}}</h3>
        </div>
    </div>
</nav>

<div>
    <h4 class="sah4">My Fitly Bookings</h4>
</div>

<div class="container-fluid"></div>
    <!-- Search Form -->
    <form role="form" class="usrsrch" ng-submit="clientDashCtrl.getMyBookedClasses()">
      
        <!-- Search Field -->
        <div class="row">
            <div class="form-group">
                <div class="input-group col-md-12">
                    <input class="form-control usrscrhfrm" id="searchString" type="text" name="searchString" ng-model = "clientDashCtrl.keyword" placeholder="Search for a class" />
                    <span class="input-group-btn">
                        <button class="btn btn-success usrsrchbtn" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-danger usrsrchbtn" type="button" ng-click="clientDashCtrl.resetSearch()">
                            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        
    </form>
    <!-- End of Search Form -->


    <div class="container-fluid">
        <button class="btn btn-default btn-xs pull-right btn-filter" type="submit" ng-click="clientDashCtrl.core()">Core</button>
        <button class="btn btn-info btn-xs pull-right btn-filter" type="submit" ng-click="clientDashCtrl.weights()">Weights</button>
        <button class="btn btn-success btn-xs pull-right btn-filter" type="submit" ng-click="clientDashCtrl.MMA()">MMA</button>
        <button class="btn btn-warning btn-xs pull-right btn-filter" type="submit" ng-click="clientDashCtrl.aerobics()">Aerobics</button>
        <button class="btn btn-primary btn-xs pull-right btn-filter" type="submit" ng-click="clientDashCtrl.boxing()">Boxing</button>
        <button class="btn btn-danger btn-xs pull-right btn-filter" type="submit" ng-click="clientDashCtrl.crossfit()">Crossfit</button>
    </div>
     
    <div class="row">
        <div class="col-lg-4" ng-repeat="class in clientDashCtrl.classes">
            <div class="panel panel-primary trainer-panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>{{class.class.name}}</b>
                        </div>
                        <div class="col-lg-6">
                            <b>Category:</b> {{class.class.category}}
                        </div>
                        
                    </div>
                </div>
            
                <div class="panel-body">
                    <div class="row pb-back">
                        <img class="img-responsive" ng-src="../images/crossfit.jpg" width="498" height="200" ng-show="class.class.category == 'Crossfit'">
                        <img class="img-responsive" ng-src="../images/core.jpg" width="498" height="200" ng-show="class.class.category == 'Core'">
                        <img class="img-responsive" ng-src="../images/mma.jpg" width="498" height="200" ng-show="class.class.category == 'MMA'">
                        <img class="img-responsive" ng-src="../images/boxing.jpg" width="498" height="200" ng-show="class.class.category == 'Boxing'">
                        <img class="img-responsive" ng-src="../images/weights.jpg" width="498" height="200" ng-show="class.class.category == 'Weights'">
                        <img class="img-responsive" ng-src="../images/aerobics.jpg" width="498" height="200" ng-show="class.class.category == 'Aerobics'">
                    </div>
                    <div class="row rowdata">
                        <div class="col-lg-6">
                            <b>Date/Time:</b> <br>{{class.class.start_time}}
                        </div>
                        <div class="col-lg-6">
                            <b>District:</b> {{class.class.neighbourhood}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Status:</b> {{class.class.status}}
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-default btn-xs pull-left" ng-click="clientDashCtrl.viewClass(class.class.id)"><span class="glyphicon glyphicon-eye-open"></span> View Class Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>