<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header nav navbar-nav navbar-left">
            <h3>Welcome, {{profileCtrl.user.firstname}} {{profileCtrl.user.lastname}}</h3>
        </div>

    </div>
</nav>

<div class="container-fluid profile">
    <h3 class="profile-header">Your Profile</h3>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="../images/profile.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h3>Personal info</h3>
            <form class="form-horizontal" role="form">                  
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="email" readonly ng-model="profileCtrl.user.email">
                    </div>
                </div>                            
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="profileCtrl.user.firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"  ng-model="profileCtrl.user.lastname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-8">
                        <select class="form-control" id="gender" required ng-model="profileCtrl.user.gender">
                            <option id="header" ng-value="null">Choose One</option>
                            <option ng-value="M">Male</option>
                            <option ng-value="F">Female</option>                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Age:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number"  ng-model="profileCtrl.user.age">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Status:</label>
                    <div class="col-md-8">
                        <select class="form-control" id="status" required ng-model="profileCtrl.user.status">
                            <option>Active</option>
                            <option>Inactive</option>
                            <option>Unavailable</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                            <!-- <a class='btn btn-success btn-xs' href="#" ng-click="listCtrl.saveUser()"> Save</a> -->
                            <button type="button" class='btn btn-success btn-xs' ng-click="profileCtrl.saveUser()">Save</button>
                            <a class='btn btn-info btn-xs' ng-click="profileCtrl.cancel()"> Cancel</a>
                            <!-- <button type="button" class="btn btn-danger btn-xs" ng-click="profileCtrl.deleteUser()">Delete</button> -->
                            
                            <!-- <a class="btn btn-danger btn-xs" href="#"  ng-click="profileCtrl.deleteUser()"> Delete</a></td> -->
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="profileCtrl.message">{{ profileCtrl.message }}</div>
    </div>
</div>