<div class="main background-tint">
    <div class="col-sm-2 col-lg-4"></div>
    <div class="col-sm-8 col-lg-4">
        <h1 class="brand-light">Trainer Registration</h1>
        <form name="clientForm" ng-submit="trainerregCtrl.register()">
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-addon">
                <i class="fa fa-envelope-o"></i> 
                </div>
                <input class="form-control" id="email" name="email" type="email" placeholder="Email" ng-model="trainerregCtrl.user.email"/>
                </div>
            </div>

            <div class="form-group ">
                <div class="input-group">
                <div class="input-group-addon">
                <i class="fa fa-key"></i> 
                </div>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" ng-model="trainerregCtrl.user.password"/>
                </div>
            </div>

            <div class="form-group ">
                <div class="input-group">
                <div class="input-group-addon">
                <i class="fa fa-key"></i> 
                </div>
                <input class="form-control" id="password" name="password" type="password" placeholder="Verify Password" ng-model="trainerregCtrl.user.password"/>
                </div>
            </div>

            <div class="form-group ">
                <div class="input-group">
                <div class="input-group-addon">
                <i class="fa fa-sticky-note"></i> 
                </div>
                <input class="form-control" id="firstname" name="firstname" type="text" placeholder="First Name" ng-model="trainerregCtrl.user.firstname"/>
                </div>
            </div>

            <div class="form-group ">
                <div class="input-group">
                <div class="input-group-addon">
                <i class="fa fa-sticky-note-o"></i> 
                </div>
                <input class="form-control" id="lastname" name="lastname" type="text" placeholder="Last Name" ng-model="trainerregCtrl.user.lastname"/>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary sign-in pull-right">Register</button>
            </div>
        </form>
        <!-- <div ng-show="trainerregCtrl.message">{{ trainerregCtrl.message }}</div> -->
    </div>
</div>