<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header nav navbar-nav navbar-left">
            <h3>Welcome, {{trainerDashCtrl.user.firstname}}</h3>
        </div>

    </div>
</nav>

<div>
    <h3 class="sah4">Manage Your Classes</h3>
    <h4 class="sah4">Trainer Panel</h4>
</div>

<div class="container-fluid"></div>
    <!-- Search Form -->
    <form role="form" class="usrsrch" ng-submit="trainerDashCtrl.getMyClasses()">
    
        <!-- Search Field -->
        <div class="row">
            <div class="form-group">
                <div class="input-group col-md-12">
                    <input class="form-control usrscrhfrm" id="searchString" type="text" name="searchString" ng-model = "trainerDashCtrl.keyword" placeholder="Search for a class" />
                    <span class="input-group-btn">
                        <button class="btn btn-success usrsrchbtn" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-danger usrsrchbtn" type="button" ng-click="trainerDashCtrl.resetSearch()">
                            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        
    </form>
    <!-- End of Search Form -->

    <!-- Display list of trainer classes -->
    <div class="row">
        <button type="button" class="btn btn-primary btn-xs addnew2 pull-left" ng-click="trainerDashCtrl.addClass(trainerDashCtrl.user.id)"><span class="glyphicon glyphicon-plus-sign"></span> Add a New Class</button>
    </div>

    <div class="row" ng-repeat="class in trainerDashCtrl.classes">
        <div class="panel panel-primary trainer-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6">
                        <b>{{class.name}}</b>
                    </div>
                    <div class="col-lg-3">
                        <b>Students: {{class.bookingCount}}</b>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-success btn-xs pull-right" ng-click="trainerDashCtrl.viewClass(class.id)"><span class="glyphicon glyphicon-eye-open"></span> View Class Details</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <b>Details:</b> {{class.details}}
                    </div>
                    <div class="col-lg-4">
                        <b>Date/Time:</b> {{class.start_time}}
                    </div>
                    <div class="col-lg-4">
                        <b>Duration (minutes):</b> {{class.duration}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <b>Category:</b> {{class.category}}
                    </div>
                    <div class="col-lg-4">
                        <b>Class Size (Min/Max):</b> {{class.minsize}}/{{class.maxsize}}
                    </div>
                    <div class="col-lg-4">
                        <b>District:</b> {{class.neighbourhood}}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-4">
                        <b>Status:</b> {{class.status}}
                    </div>
                    <div class="col-lg-4">
                        <b>Created:</b> {{class.createdAt}}
                    </div>
                    <div class="col-lg-4">
                        <b>Updated:</b> {{class.updatedAt}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>