<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header nav navbar-nav navbar-left">
            <h3>Welcome, {{trainerDashCtrl.user.firstname}} {{trainerDashCtrl.user.lastname}}</h3>
        </div>

    </div>
</nav>

<div>
    <h4 class="sah4">Manage Your Classes</h4>
</div>

<div class="container-fluid"></div>
    <!-- Search Form -->
    <form role="form" class="usrsrch" ng-submit="trainerDashCtrl.getMyClasses()">
    
        <!-- Search Field -->
        <div class="row">
            <div class="form-group">
                <div class="input-group col-md-12">
                    <input class="form-control usrscrhfrm" id="searchString" type="text" name="searchString" ng-model = "trainerDashCtrl.keyword" placeholder="Search for a class" />
                    <span class="input-group-btn">
                        <button class="btn btn-success usrsrchbtn" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-danger usrsrchbtn" type="button" ng-click="trainerDashCtrl.resetSearch()">
                            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        
    </form>
    <!-- End of Search Form -->

    <!-- Display list of trainer classes -->
    <div class="row">
        <button type="button" class="btn btn-primary btn-xs addnew2 pull-left" ng-click="trainerDashCtrl.addClass(trainerDashCtrl.user.id)"><span class="glyphicon glyphicon-plus-sign"></span> Add a New Class</button>
    </div>
    <div class="row">
        <div class="col-lg-4" ng-repeat="class in trainerDashCtrl.classes">
            <div class="panel panel-primary trainer-panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-12 classname">
                            <b>{{class.name}}</b>
                        </div>
                    </div>
                </div>
                    
                <div class="panel-body">
                    <div class="row pb-back">
                        <img class="img-responsive" ng-src="../images/crossfit1.jpg" ng-show="class.category == 'Crossfit'">
                        <img class="img-responsive" ng-src="../images/core1.jpg" ng-show="class.category == 'Core'">
                        <img class="img-responsive" ng-src="../images/mma1.jpg" ng-show="class.category == 'MMA'">
                        <img class="img-responsive" ng-src="../images/boxing1.jpg" ng-show="class.category == 'Boxing'">
                        <img class="img-responsive" ng-src="../images/weights1.jpg" ng-show="class.category == 'Weights'">
                        <img class="img-responsive" ng-src="../images/aerobics1.jpg" ng-show="class.category == 'Aerobics'">
                    </div>
                    <div class="row rowdata">
                        <div class="col-lg-6">
                            <b>Date/Time:</b> <br>{{class.start_time}}
                        </div>
                        <div class="col-lg-6">
                            <b>Bookings:</b> {{class.bookingCount}} / {{class.minsize}}
                            <br>
                            <b>Category:</b> {{class.category}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Status:</b> {{class.status}}
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-default btn-xs pull-left" ng-click="trainerDashCtrl.viewClass(class.id)"><span class="glyphicon glyphicon-eye-open"></span> View Class Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>